<form method="POST" action="http://localhost:2672/categories">
    <div class="modal fade" id="createNewCategory" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="title" class="form-control" placeholder="Enter a name for your category">
                    </div>
                    <div class="form-group">
                        <label>Description</label>
                        <input type="text" class="form-control" name="description" placeholder="Enter the description for your category">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function deleteCategory(categoryName) {
        console.log('Category name is ' + categoryName);
        axios.delete('http://localhost:2672/categories/delete', { data: { categoryId: categoryName } });
    }
</script>

<form>
    <div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete a Category</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Choose a Category to Delete</label>
                        <select id="category-chooser" class="form-control" name="category">
                            <option selected="selected">blank</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" value="Submit" onclick="deleteCategory(document.getElementById('category-chooser').value)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<div class="body">
    <div class="container" style="padding-top:1rem">
        <h1>NoteFarm</h1>
        <p>Welcome! Here's a list of your current categories</p>
        <p id="showCategories"></p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createNewCategory">
            Create a New Category
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteCategory">
            Delete a Category
        </button>
    </div>
</div>