<div class="container" style="padding-top:1rem">
  <h1>Welcome to NoteFarm!</h1>
  <p>Choose an action below to get started</p>
  <a class="btn btn-outline-primary" href="/notes">Notes</a>
  <a class="btn btn-outline-primary" href="/categories">Categories</a>
</div>