<div class="container" style="padding-top:1rem">
  <h1>Welcome to NoteFarm!</h1>
  <p>Choose an action below to get started</p>
  <a class="btn btn-primary" href="/notes" data-path>Notes</a>
  <a class="btn btn-primary" href="/categories" data-path>Categories</a>
</div>