<form method="POST" action="http://localhost:2672/notes">
    <div class="modal fade" id="addNotesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create a Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" name="title" class="form-control" placeholder="Enter a name for your note">
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <input type="text" class="form-control" name="content" placeholder="Enter the content for your note">
                    </div>
                    <div class="form-group">
                        <label>Category</label>
                        <select id="category-chooser" class="form-control" name="category">
                            <option selected="selected">blank</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>

<form method="DELETE" action="http://localhost:2672/notes">
    <div class="modal fade" id="deleteNotesModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete a Note</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Note to Delete</label>
                        <select id="note-chooser" class="form-control" name="title">
                            <option selected="selected">blank</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="body">
    <div class="container" style="padding-top:1rem">
        <h1>NoteFarm</h1>
        <p>Welcome! Here's a list of your current notes</p>
        <p id="showNotes"></p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addNotesModal">
            Create a New Note
        </button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#deleteNotesModal">
            Delete a Note
        </button>
    </div>
</div>