<form method="POST" action="http://localhost:2672/notes">
    <input type="text" name="title" placeholder="Title of the New Note">
    <textarea name="content" placeholder="Content for the Note">

    </textarea>
    <input type="text" name="categoryId" placeholder="Note Category">
    <input type="submit" placeholder="Submit">
</form>