<html>

<head>
    <% include ../partials/header %>
    <% include ../partials/navbar %>
</head>

<body>
    <script>
        src = "https://code.jquery.com/jquery-3.3.1.min.js"
        integrity = "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin = "anonymous"
    </script>

    <script>
        function createCategory(title, description) {
            let url = 'http://localhost:2609/api/categories/create'
            let info = {
                title: title,
                description: description
            }
            console.log(info)
            var json = JSON.stringify(info);
    
            var xhr = new XMLHttpRequest();
            xhr.open("POST", url, true);
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.onload = function () {
                var users = JSON.parse(xhr.responseText);
                if (xhr.readyState == 4 && xhr.status == "200") {
                    console.table(users);
                } else {
                    console.error(users);
                }
            }
            xhr.send(json);
        }
    </script>

    <form>
        <div class="modal fade" id="createNewCategory" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="title" name="title" class="form-control" placeholder="Enter a name for your category">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" id="description" class="form-control" name="description" placeholder="Enter the description for your category">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-outline-primary" value="Update" onclick="createCategory(document.getElementById('title').value, document.getElementById('description').value)">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        function updateCategory(categoryData, title, desc) {
            let categoryId = categorYData.split('-')[1].trim();
            let url = 'http://localhost:2609/api/categories/update/' + categoryId;
            let info = {
                title: title,
                description: desc
            }
            console.log(info)
            var json = JSON.stringify(info);
    
            var xhr = new XMLHttpRequest();
            xhr.open("PUT", url, true);
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.onload = function () {
                var users = JSON.parse(xhr.responseText);
                if (xhr.readyState == 4 && xhr.status == "200") {
                    console.table(users);
                } else {
                    console.error(users);
                }
            }
            xhr.send(json);
        }
    </script>

    <form>
        <div class="modal fade" id="updateCategory" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update a Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Choose a Category to Update</label>
                            <select id="update-category-chooser" class="custom-select" name="category">
                                <option selected="selected">blank</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="newTitle" name="newTitle" class="form-control" placeholder="Enter a new name for your category">
                        </div>
                        <div class="form-group">
                            <label>Description</label>
                            <input type="text" class="form-control" id="newDesc" name="newDesc" placeholder="Enter a new description for your category">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-outline-primary" value="Update" onclick="updateCategory(document.getElementById('update-category-chooser').value, document.getElementById('newTitle').value, document.getElementById('newDesc').value)">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        function deleteCategory(categoryData) {
            let categoryId = categoryData.split('-')[1].trim();
            let url = 'http://localhost:2609/api/categories/delete/' + categoryId
            console.log(categoryId);
    
            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", url, true);
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.onload = function () {
                var users = JSON.parse(xhr.responseText);
                if (xhr.readyState == 4 && xhr.status == "200") {
                    console.table(users);
                } else {
                    console.error(users);
                }
            }
            xhr.send();
        }
    </script>

    <form>
        <div class="modal fade" id="deleteCategory" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete a Category</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Choose a Category to Delete</label>
                            <select id="delete-category-chooser" class="custom-select" name="category">
                                <option selected="selected">blank</option>
                            </select>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            <input type="submit" class="btn btn-danger" value="Submit" onclick="deleteCategory(document.getElementById('delete-category-chooser').value)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="body">
        <div class="container" style="padding-top:1rem">
            <h1>NoteFarm</h1>
            <p>Welcome! Here's a list of your current categories</p>
            <table class="table" id="showCategories"></table>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#createNewCategory">
                Create a New Category
            </button>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#deleteCategory">
                Delete a Category
            </button>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateCategory">
                Update a Category
            </button>
        </div>
    </div>
    <footer>
        <% include ../partials/footer %>
        <script src="./js/categoryPage.js"></script>
    </footer>
</body>

</html>