<html>

<head>
    <% include ../partials/header %>
    <% include ../partials/navbar %>
</head>

<body>
    <script>
        src = "https://code.jquery.com/jquery-3.3.1.min.js"
        integrity = "sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin = "anonymous"
    </script>

    <script>
        function prepareCreateNote(categoryAndId, activateNote, title, content, category) {
            console.log(categoryAndId);
            let categoryId = categoryAndId.split('-')[1].trim();
            console.log(categoryId)
            if (title != null) {
                createNote(title, content, category, categoryId)
            } else {
                console.log('createNote function will not be called')
            }
            function createNote(title, content, category, categoryId) {
                let categoryWithoutId = category.split('-')[0].trim();
                let url = 'http://localhost:2609/api/notes/create'
                let info = {
                    title: title,
                    content: content,
                    category: categoryWithoutId,
                    categoryId: categoryId
                }
                console.log(info)
                var json = JSON.stringify(info);

                var xhr = new XMLHttpRequest();
                xhr.open("POST", url, true);
                xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
                xhr.onload = function () {
                    var users = JSON.parse(xhr.responseText);
                    if (xhr.readyState == 4 && xhr.status == "200") {
                        console.table(users);
                    } else {
                        console.error(users);
                    }
                }
                xhr.send(json);
            }
        }
    </script>

    <form>
        <div class="modal fade" id="addNotesModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Create a Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" id="note-title" name="title" class="form-control" placeholder="Enter a name for your note">
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <input type="text" id="note-content" class="form-control" name="content" placeholder="Enter the content for your note">
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select onchange="prepareCreateNote(document.getElementById('category-chooser').value, false)"
                                id="category-chooser" class="custom-select" name="category">
                                <option selected="selected">blank</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-outline-primary" value="Create Note" onclick="prepareCreateNote(document.getElementById('category-chooser').value, true, document.getElementById('note-title').value, document.getElementById('note-content').value, document.getElementById('category-chooser').value)">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        function prepareUpdateNote(categoryAndId, activateNote, noteData, newtitle, newContent, newCategory) {
            console.log(newTitle);
            console.log(categoryAndId);
            let categoryId = categoryAndId.split('-')[1].trim();
            console.log(categoryId)
            let category = categoryAndId.split('-')[0].trim();
            console.log(category)
            if (noteData != null) {
                updateNote(noteData, newTitle, newContent, category, categoryId)
            } else {
                console.log('updateNote function will not be called')
            }
            function updateNote(noteData, newTitle, newContent, newCategory, newCategoryId) {
                console.log(noteData);
            let noteId = noteData.split('-')[1].trim();
            let url = 'http://localhost:2609/api/notes/update/' + noteId
            let info = {
                title: newTitle,
                content: newContent,
                category: newCategory,
                categoryId: newCategoryId
            }
            console.log(noteId)
            console.log(info)
            var json = JSON.stringify(info);

            var xhr = new XMLHttpRequest();
            xhr.open("PUT", url, true);
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.onload = function () {
                var users = JSON.parse(xhr.responseText);
                if (xhr.readyState == 4 && xhr.status == "200") {
                    console.table(users);
                } else {
                    console.error(users);
                }
            }
            xhr.send(json);
        }
        }
    </script>

    <form>
        <div class="modal fade" id="updateNoteModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Update a Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Choose a Note to Update</label>
                            <select id="update-note-chooser" class="custom-select" name="note">
                                <option selected="selected">blank</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Name</label>
                            <input type="text" class="form-control" id="newTitle" name="newTitle" placeholder="Enter the new title for your note">
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <input type="text" class="form-control" id="newContent" name="newContent" placeholder="Enter the new content for your note">
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <select onchange="prepareUpdateNote(document.getElementById('update-category-chooser').value, false)" id="update-category-chooser" class="custom-select" name="note">
                                <option selected="selected">blank</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-outline-primary" value="Update" onclick="prepareUpdateNote(document.getElementById('update-category-chooser').value, true, document.getElementById('update-note-chooser').value, document.getElementById('newTitle').value, document.getElementById('newContent').value, document.getElementById('update-category-chooser').value)">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <script>
        function deleteNote(noteData) {
            let noteId = noteData.split('-')[1].trim();
            let url = 'http://localhost:2609/api/notes/delete/' + noteId
            console.log(noteId);

            var xhr = new XMLHttpRequest();
            xhr.open("DELETE", url, true);
            xhr.setRequestHeader('Content-type', 'application/json; charset=utf-8');
            xhr.onload = function () {
                var users = JSON.parse(xhr.responseText);
                if (xhr.readyState == 4 && xhr.status == "200") {
                    console.table(users);
                } else {
                    console.error(users);
                }
            }
            xhr.send();
        }
    </script>

    <form>
        <div class="modal fade" id="deleteNotesModal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete a Note</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Note to Delete</label>
                            <select id="note-chooser" class="custom-select" name="title">
                                <option selected="selected">blank</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                        <input type="submit" class="btn btn-danger" value="Submit" onclick="deleteNote(document.getElementById('note-chooser').value)">
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="body">
        <div class="container" style="padding-top:1rem">
            <h1>NoteFarm</h1>
            <p>Welcome! Here's a list of your current notes</p>
            <table class="table" id="showNotes"></table>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#addNotesModal">
                Create a New Note
            </button>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#deleteNotesModal">
                Delete a Note
            </button>
            <button type="button" class="btn btn-outline-primary" data-toggle="modal" data-target="#updateNoteModal">
                Update a Note
            </button>
        </div>
    </div>

    <footer>
        <% include ../partials/footer %>
        <script src="./js/notePage.js"></script>
    </footer>
</body>

</html>